//General
main{
	a{
		font-weight: 700;
		color: $dark_blue;
		&:hover{
			color: $light_blue;
			text-decoration: none;
		}
	}
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
	background-color:white !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus,
textarea:focus,
select:focus{
	outline:none;
}

//Page Template
.slider_container{
	margin-bottom: 40px;
	//margin-bottom:6em;

	&.no-dots{
		margin-bottom:6em;
	}
	// img{
	// 	max-height: 400px;
	// 	min-width: 100%;
	// }
	.indiv_slide{
		height: 400px;
		background-size: cover;
		background-position: top;
		// @media screen and (max-width: 750px){
		// 	height: 300px;
		// }
	}
	.imgslider{
		//display: inline-block;
	}
	.textslider{
		//display: inline-block;
		background-color: #66717F;
		height: 400px;
		vertical-align: top;
		overflow: hidden;
		//padding:2em;
		p, h2, h3, h4, h5, h6{
			color: #c9cac9;
			margin-bottom: 1rem;
		}

		.wrap{
			margin: 2em auto;
			width:90%;
		}

		&.single{
			text-align:center;
			display: flex;
			align-items: center;
			justify-content: center;
			h4{
				text-transform:uppercase;
				font-size:2em;
			}
		}
		.indiv_text_slide{
			//padding: 2em;
		}
		@media screen and (max-width: 750px){
			height: auto;
		}
	}
	.slick-dots{
		text-align: center;
		list-style-type: disc;

		// Possible addition?
		// position: absolute;
		// width: 100%;
		// bottom: -3.5em;
		// right: 0;
		li{
			position: relative;
		    display: inline-block;
		    width: 20px;
		    height: 30px;
		    margin: 0 5px;
		    padding: 0;
		    cursor: pointer;
			button{
				position: relative;
				text-align: center;
				font-size: 0;
				border: 0;
				padding: 0;
				height: 30px;
				width: 20px;
				&::before{
					vertical-align: middle;
					text-align: center;
				    font-size: 60px;
				    line-height: 40px;
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    margin: auto;
				    height: 30px;
				    width: 20px;
				    content: '•';
				    opacity: 0.25;
				    color: black;
				    transition: all 0.3s ease-in-out;
				}
			}
			&.slick-active{
				button{
					&::before{
						opacity: 1;
					}
				}
				&:hover{
					button{
						&::before{
							opacity: 1;
						}
					}
				}
			}
			&:hover{
				button{
					&::before{
						opacity: 0.5;
					}
				}
			}
		}
	}
}

//To make slick slider text selectable
.slick-slider {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}
.slick-list.draggable {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.slick-slide{ -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

//Remove borders if .content does not fall after a .slider_container
.slider_container + .content{
	border-top: 1px solid #472A2B;

	&::before{
		position: absolute;
		width: 100%;
		top: -10px;
		border-top: 4px solid $black;
		content: '';
		left: 0;
	}
}

.content{
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
	// Added to the new declaration above
	//border-top: 1px solid #472A2B;
	p{
		margin: 0;
	}
	ul{
		font-family: Georgia, serif;
	}
	.content_columns{
		margin-bottom: 40px;
	}
	@media screen and (max-width: 750px){
		.content_columns{
			padding-bottom:1em;
		}

		.content_columns:nth-of-type(1){
			.wrap{
				padding-right: 1em;
				padding-left: 1em;
			}
		}


	}
	.columns-4{
		//vertical-align: top;
		//display: inline-block;
		padding-top: 1em;
		padding-bottom: 1em;
		&:nth-of-type(1){
			padding-right: 1em;
			@media screen and (max-width: 750px){
				padding: 1em;
			}
		}
		&:nth-of-type(2){
			position: relative;
			padding-right: 1em;
			padding-left: 1em;
			border-right: 2px solid $gray;
			border-left: 2px solid $gray;
			@media screen and (max-width: 750px){
				border-right: 0;
				border-left: 0;
				border-top: 2px solid $gray;
				border-bottom: 2px solid $gray;
			}
		}
		&:nth-of-type(3){
			padding-left: 1em;
			@media screen and (max-width: 750px){
				padding: 1em;
			}
		}
	}

	.columns-6{
		&:nth-of-type(2){
			position: relative;
			padding-right: 1em;
			padding-left: 1em;
			//border-right: 2px solid $gray;
			border-left: 2px solid $gray;
			@media screen and (max-width: 750px){
				border-right: 0;
				border-left: 0;
				border-top: 2px solid $gray;
				//border-bottom: 2px solid $gray;
			}
		}
	}
	// Added to the new declaration above
	// &::before{
	// 	position: absolute;
	// 	width: 100%;
	// 	top: -10px;
	// 	border-top: 4px solid $black;
	// 	content: '';
	// }
}

.accent{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-position: center;
	background-size: 960px;
	clear: both;
}
//Page Template

//Blog Template
.posts_list{
	display: inline-block;
	vertical-align: top;
	padding: 1em;
	border-right: 2px solid $gray;
	@media screen and (max-width: 750px){
		border-right: 0px;
	}
}
.postinfo{
	font-size:1.6rem;
}
.sidebar{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 1em 1em 1em 2em;
	h2{
		margin-bottom:1rem;
	}
	ul{
		margin-bottom:2em;
	}
	li{
		list-style-type: none;
		font-size:1.4em;
		font-weight:400;
	    font-family: Georgia, serif;
		a{
			font-weight:700;
		}
	}
	@media screen and (max-width: 750px){
		border-top: 1px solid #472A2B;
	}
	&::before{
		display: none;
		position: absolute;
		width: 100%;
		top: -10px;
		left: 0;
		border-top: 4px solid $black;
		content: '';
		@media screen and (max-width: 750px){
			display: initial;
		}
	}
	ul{
		@media screen and (max-width: 750px){
			border-bottom: 2px solid $gray;
		}
	}
}
.post_listitem{
	border-bottom: 2px solid $gray;
	padding-top: 1em;
	padding-bottom: 1em;
	&:last-of-type{
		border-bottom: 0px;
	}
}

.pagination{
	font-family: Georgia, serif;
	color:$gray_blue;
	a{
		font-size:1.8em;
		font-weight: 700;
	}

	.current{
		font-size:1.8em;
		font-weight:400;
	}
}
//Blog Template

//Single Post
.post_content{
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid $gray;
	padding: 1em;
	h1{
		margin-bottom: 1rem;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	@media screen and (max-width: 750px){
		border-right: 0px;
	}
}

.post,
.content_columns{
	ol, ul{
	  li{
	    font-family: Georgia;
	    font-size: 1.4rem;
	  }
	}
}

//General Responsive

@media ($bp-smaller-than-tablet){
	.smaller-than-desktop__hide{
		display:none;
	}
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

//Accessibility
.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0, 0, 0, 0);
	border:0;
}
