//Comments
.comment-respond{
	padding-top: 1em;
    border-top: 2px solid #ccc;
}

.comment-author,
.comment-metadata{
	font-size:1.4em;
}

.comment-author{
	font-family: Georgia, serif;
}

.reply{
	font-size:1.6em;
	margin-bottom:1em;
}

//Login page
.login-form{
	width:320px;
	margin:0 auto;

	h1{
		text-align:center;
	}

	label{
		font-size:1.2em;
	}

	input{

		&[type="text"],
		&[type="password"]{
			width:100%;
		}
		
		background-color:white;
		color:#637180;
		border:transparent;
		border-bottom:2px solid $black;
		transition:all .2s ease-in-out;

		// &:focus{
		// 	background-color:#E4E4E4 !important;
		// 	color:white;
		// }
	}

	input[type="submit"]{
		border:transparent;
		background-color:#E4E4E4;
		color: #637180;
		width:50%;
		margin:0 auto;
	}
}