//Comments
.comment-respond{
	padding-top: 1em;
    border-top: 2px solid #ccc;
}

.comment-author,
.comment-metadata{
	font-size:1.4em;
}

.comment-author{
	font-family: Georgia, serif;
}

.reply{
	font-size:1.6em;
	margin-bottom:1em;
}